#index_logo{
	background-color:white;
	color: black;
	font-size:50px;
	line-height:200px;
	width:100%;
	height:150px;
}
#account_block{
	background-color:#AA0000;
	height:50px;
	font-size: 30px;
	color:white;
	font-family:Microsoft JhengHei;
}
.main{
	width:1500px;
	height:457px;
	margin:auto;
}
#drama_list_div{
	width:65%;
	height:700px;
	float:left;
}
#drama_list_ul{
	list-style:none;
}
#drama_list_li{
	border:1px #000000 solid;
	width: 400px;
	float:left;
	font-family:Microsoft JhengHei;
	font-size: 20px;
}
#drama_list_poster{
	height: 190px;
	width: 120px;
	float:left;
}
#ranking_div{
	width:35%;
	height:400px;
	float:right;
}
.drama_hyperlink{
	color :black;
	font-size: 30px;
	font-family:Microsoft JhengHei;
}
.drama_hyperlink{
	color :black;
	font-size: 25px;
	font-family:Microsoft JhengHei;
}
.drama_hyperlink:hover{
	color :red;
/*	font-size: 30px;
	font-family:Microsoft JhengHei;*/
}
#page_div{
	width:55%;
	font-size: 25px;
	float:left;
	text-align: center;
}
.page_num{
	padding:4px 8px;
	width: 20px;
	height: 20px;
	border:2px solid #A42D00;
}

#search_form{
	line-height:100px;
	padding-left:40px;
}
#search_text{
	width:712px;
	height:40px;
	border-width:2px;
	border-color:#A42D00;
	font-size:30px;
}
#search_submit{
	font-size:20px;
	width:80px;
	height:40px;
}
#ad{
	width:35%;
	height:400px;
	float:right;
}


a{
	text-decoration:none;
}

/*drama_intro*/
#dramaIntro_block{
	font-size: 40px;
	list-style:none;
}
.commentBlock{
	border-style:solid;
	width:63%;
	height:auto;
	float:left;
	margin:5px 0px;
	padding:10px;
	border-color: #A42D00;
}
.commentInput{
	width:880px;
	height:80px;
	resize:none;
	font-size: 25px;
	margin:9px;
	padding:10px;
}

.comment{
	height:130px;
	font-size: 25px;
	margin:10px;
	padding: 10px;
}
.commentId{
	font-weight:bold;
	display:block;
}
.commentText{
	word-break: break-all; 
	display: block;
	height: 75px;
}
.commentTime{
	font-size: 20px;
	color:gray;
	display: block;
}
.commentBtn{
	width: 100%;
	height: 80px;
	font-size: 25px;
	background-color: #A42D00;
	color: white;
	border:none;

}
.footer{
	text-align:center;
	background-color: #AAAAAA;
	font-size: 20px;
	height:100px;
	width: 100%;
	line-height:100px;
	border-top-style:solid;
	border-color: #A42D00;
    clear: left;
}

